<!-- <p>ng-select works!</p>
<ng-select [items]="to.options"
[disabled]="'disable' | able: 'form'"
[bindLabel]="labelProp"
[bindValue]="valueProp"
[multiple]="to.multiple"
[closeOnSelect]="false"
[placeholder]="to.placeholder"
[formControl]="formControl">
<ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
    <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.label}}
</ng-template>
</ng-select> -->



<p-multiSelect [options]="to.options" [formControl]="formControl" display="chip" [disabled]="'disable' | able: 'form'"  optionLabel="label">

</p-multiSelect>
